.el-form {
  .el-form-item {
    margin-bottom: 20px;
    .el-form-item__label {
      font-family: 'Inter-Regular', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.09px;
      color: #141414;
      margin-bottom: 6px!important;
    }
    .el-form-item__content {
      .el-input {
        width: 360px;
        height: auto;
        &:hover {
          .el-input__wrapper, .el-input-group__append {
            border-color: #8EBCF9!important;
          }
        }
      }
      .el-input.is-disabled .el-input__wrapper {
        background-color: #f5f7fa!important;
        box-shadow: #e4e7ed!important;
        &:hover {
          border-color: #EDEFF2;
          box-shadow: none;
        }
      }
      .el-input__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        width: 100%;
        // height: 42px;
        background: #FFFFFF;
        border: 1px solid #EDEFF2;
        box-shadow: none;
        border-radius: 8px;
        input {
          font-family: 'Inter-Regular', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.18px;
          color: #141414;
          &::placeholder {
            color: #B0B8C4;
          }
        }
      }
      .el-input__password {
        color: #357AF6;
      }
    }
    .upload {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 14px;
      width: 100%;
      height: 30px;
      background: #FFFFFF;
      border: 1px solid #EDEFF2;
      box-shadow: none;
      border-radius: 8px;
      input {
        display: none;
      }
      span {
        font-family: 'Inter-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.18px;
        color: #B0B8C4;
      }
      .file__name {
        color: #141414;
      }
    }
  }
}
.el-checkbox {
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background: #357AF6;
    box-shadow: 0 0 0 4px #E7F1FF;
  }
  .el-checkbox__inner {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #EDEFF2;
    border-radius: 6px;
    &:after {
      top: 4px;
      left: 7px;
    }
    &:hover {
      border: 1px solid #8EBCF9;
      box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05), 0 0 0 4px rgba(53, 122, 246, 0.1);
    }
  }
  .el-checkbox__label {
    font-family: 'Inter-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.09px;
    color: #68707D;
  }
}
